<div class="appointments">
  <div class="teaching-day-lists">
    <div class="title_a">
      <h2>-----Upcoming Teaching Day-----</h2>
    </div>
    <% if @teaching_appointments.blank? %>
      <p>no lessons</p>
    <% else %>
      <% @teaching_appointments.each do |a| %>
        <ul>
            <li><%= a.lesson.language %></li>
            <li><%= a.lesson.duration %> min.</li>
            <li><%= a.lesson.price %> yen</li>
            <li><%= a.lesson.location %></li>
            <li><%= a.start_time.strftime(" %m/%d %I:%M%p") %></li>
            <li>Student's name: <%= a.user.first_name %> <%= a.user.last_name %></li>
        </ul>
      <% end %>
    <% end %>
  </div>

  <div class="student-day-lists">
    <div class="title_a">
      <h2>-----Upcoming Student Appointments-----</h2>
    </div>
    <% if @appointments.blank? %>
      <p>No scheduled classes as student.</p>
    <% else %>
      <% @appointments.each do |a| %>
        <ul>
          <li><%= a.lesson.language %></li>
          <li><%= a.lesson.duration %> min</li>
          <li><%= a.lesson.price %> yen</li>
          <li><%= a.lesson.location %></li>
          <li><%= a.start_time.strftime(" %m/%d %I:%M%p") %></li>
          <li>Teacher's name: <%= a.lesson.user.first_name %> <%= a.lesson.user.last_name %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>

