
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Create Lessons</h1>
      <%= simple_form_for @lesson do |f| %>
        <%= f.input :language, collection: ["English", "Japanese", "French"] %>
        <%= f.input :level, collection:  ["Novice", "Conversational", "Business", "Fluent"] %>
        <%= f.input :duration, collection: [40, 60, 90]%>
        <%= f.input :price %>
        <%= f.input :description %>
         <%= f.submit "Submit", id: "sweet-alert-demo", class: "btn btn-primary", data: { confirm: " Are you sure?"}%>
        <%= link_to "Home", root_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

