<h1>Lessons</h1>

<h2>Language: <%= @lesson.language %></h2>
<h2><i class="far fa-clock"></i><%= @lesson.duration %>min</h2>
<h2><%= @lesson.price %>yen</h2>

<br />
<%= link_to "Book this lesson", new_lesson_appointment_path(@lesson), class: "btn btn-primary" %>
<%= link_to "Home", root_path, class: "btn btn-primary" %>
