<div class="container">
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Lessons</h1>

<h2>Language: <%= @lesson.language %></h2>
<h2><i class="far fa-clock"></i><%= @lesson.duration %>minutes</h2>
<h2><%= @lesson.price %>yen</h2>


    <br />
    <%= link_to "Book this lesson", new_lesson_appointment_path(@lesson), class: "btn btn-danger" %>
    <%= link_to "Home", root_path, class: "btn btn-primary" %>

    </div>

  </div>
</div>
